.about {
    margin-top: 106px;
    text-align: center;
}

.about__header {
    font-size: 54px;
    line-height: 72px;
    font-weight: 400;
    max-width: 800px;
    margin: 0 auto;
}

.about__content {
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 36px;
}